<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.pip.update</string>

  <key>ProgramArguments</key>
  <array>
    <string>zsh</string>
    <string>-lc</string>
    <string>
      ~/.pyenv/shims/pip list --disable-pip-version-check --no-python-version-warning --outdated --format=freeze |
        grep -v '^\-e' | cut -d'=' -f1 |
        xargs -n1 ~/.pyenv/shims/pip install -U &&
      ~/.pyenv/shims/pip3 list --disable-pip-version-check --no-python-version-warning --outdated --format=freeze |
        grep -v '^\-e' | cut -d'=' -f1 |
        xargs -n1 ~/.pyenv/shims/pip3 install -U &&
      /usr/local/bin/terminal-notifier -message "launchd: pip update completed" ||
      /usr/local/bin/terminal-notifier -message "launchd: pip update failed"
    </string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <!-- Launch Daily -->
  <key>StartInterval</key>
  <integer>86400</integer>

  <!-- Use following for easy debugging -->
  <!-- <key>RunAtLoad</key> -->
  <!-- <true/> -->

  <key>StandardErrorPath</key>
  <string>/tmp/local.launchd/pip.out</string>

  <key>StandardOutPath</key>
  <string>/tmp/local.launchd/pip.out</string>
</dict>
</plist>
